* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #111821;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 280px;
  background: #1d2a3a;
  color: #fff;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) #54b689;
  scrollbar-width: thin;
  text-align: center !important;
  display: block;
}

.header .name-mind {
  font-weight: bold;
  font-size: 2rem;
}

.header .name-mind a {
  color: #b58101;
  text-decoration: none;
}

.header .name-mind a:hover {
  text-decoration: none;
} 
.me-part .me-image {
   max-width: 140px;
}

.me-part .info {
  font-size: 0.875rem;
  color: #fff;
}

.social-networks a {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  background-color: #b58101;
  color: #d8d2c5;
}

.links {
  padding-left: 20px;
}

.btn {
  height: 2.5rem;
  width: 10rem;
}
.btn-primary {
  background-color: #b58101;
  border-color: #b58101;
  border-radius: 0.5rem;
}
.btn-primary:hover {
  background-color: #b58101;
  border-color: #b48100;
}
.btn-primary:focus {
  background-color: #b58101;
  border-color: #b48100;
}

.main-wrapper {
  margin-left: 280px;
  background: #111821;
}

.projects {
  display: flex;
  justify-content: center;
}
.grey-square {
  background-color: #252d35;
  border-radius: 10px;
  padding-bottom: 0.3rem;
}
.grey-square > div {
  color: #fff;
}
.grey-square .me-text {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.img-about-me img {
  width: 230px;
  height: 400px;
  padding-right: 0;
  object-fit: cover;
  border-radius: 10px;
}

.project-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
}

.project-img img:hover {
  -webkit-transform:scale(1.07);
  -webkit-transition:all .5s ease;
}


.what-i-do-text {
  font-size: 15px;
  text-align: center;
}

.what-i-do-img {
  padding-right: 3px;
  width: auto;
  max-width: 80px;
  height: auto;
  max-height: 55px;
}

.line-what-i-do {
  display: none;
}

.place-career {
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

footer {
  background: #1d2a3a;
  color: #FFFFFF;
  display: block;
  margin-left: 280px;
}

.footer-info {
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .header {
    position: static;
    width: inherit;
    height: auto;
  }
  .header .name-mind {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.2rem;
  }
  .header .btn-primary {
    width: 100%;
  }
  .header .navbar {
    padding: 1rem;
  }
  .main-wrapper {
    margin-left: 0;
  }
  .resume-aside {
    border-left: 0;
  }

  .grey-square .me-text {
    font-size: 21px;
    text-align: justify;
  }

  .img-about-me {
    display: none;
  }

  .img-about-me img {
    width: 240px;
    height: 395px;
    object-fit: cover;
    margin-left: .2rem;
  }

  footer {
    margin-left: 0;
  }

  .line-what-i-do {
    display: unset;
  }

}
